body {
	font-family: Mukta, sans-serif;
	letter-spacing: 0.5px;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Bitter, serif;
	font-weight: 500;
}

h1 {
	font-size: 80px;
	font-weight: 400;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 50px;
	letter-spacing: -0.5px;
}

h3 {
	font-size: 38px;
	letter-spacing: 0px;
}
h4 {
	font-size: 30px;
	letter-spacing: 0.25px;
}

h5 {
	font-size: 24px;
	letter-spacing: 0.25px;
}

h6 {
	font-size: 20px;
	letter-spacing: 0.25px;
}

code {
	color: #e95400;
	font-weight: bold;
}

.content {
	margin: 0 auto;
	max-width: 900px;
	padding: 32px;
}

.content h3 {
	text-transform: capitalize;
}

.blog-info {
	text-align: center;
	text-transform: uppercase;
	font-family: Bitter, serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.blog-info span {
	color: #e95400;
}

.headline {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 0px;
	margin: 40px 0;
}

.quote {
	font-style: italic;
	font-size: 14px;
	border-left: 2px solid #e95400;
	padding-left: 16px;
	margin: 32px 0 32px 32px;
}

.quote cite {
	display: block;
	font-weight: bold;
	margin-left: 20px;
}

footer {
	background-color: #863ae8;
}

footer ul {
	/* notice! */
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;

	/* to make the footer have certain height, we don't specify 
      height: 100px on the footer elem itself as it will break stuff, 
      so we instead specify padding on the ul itself */
	padding: 28px 0;

	list-style-type: none;
}

footer li {
	display: inline;
	padding: 0 16px;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}
